# package directories
node_modules
jspm_packages
package-lock.json
.env
#temp directories
#temp

# Serverless directories
.serverless

# Secret directories
#variables.env
#config.dev.json
#config.local.json
#config.prod.json
DS_Store